@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    height: 100%;
}
a {
    text-decoration: none;
    color: rgb(197, 0, 0);
}
li {
    list-style: none;
}
#products {
    transition: .5s ease-in-out;
}
.navbarContainer {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    z-index: 1;
    animation: fadeInDown 2s;
    transition: 2s ease-in-out;
}
.navbarContainer ul.navList {
    position: absolute;
    right: -20%;
    top: 0;
    width: 50%;
    font-size: 18px;
}
.navbarContents ul li {
    display: inline-block;
    margin: 3%;
}
.navbarContents h1 {
    margin-left: 15%;
    margin-top: 1.5%;
    font-size: 23px;
    color: red;
}
.navbarContents a:hover {
    color: red;
}
.discordLogo {
    margin-right: 1%;
}
.bgLogo {
    position: absolute;
    left: 32%;
    top: -20vh;
}
.bgContainer {
    background-color: black;
    width: 140%;
    height: 900px;
    position: absolute;
    top: 0%;
    left: -20%;
    z-index: -1;
    border-bottom-left-radius: 100% 75%;
    border-bottom-right-radius: 100% 75%;
}
.bgContainerTwo {
    background-color: rgb(15, 15, 15);
    width: 140%;
    height: 900px;
    position: absolute;
    top: 0%;
    left: -20%;
    z-index: -2;
    border-bottom-left-radius: 120% 75%;
    border-bottom-right-radius: 120% 75%;
}
.sloganContainer {
    text-align: center;
    margin-top: 1.5%;
}
.sloganContents {
    color: rgba(255, 255, 255, 0.5);
}
.sloganContents h3 {
    line-height: 55px;
    letter-spacing: 1px;
    font-size: 20px;
}
.container {
    margin-top: 5%;
    background-color: transparent;
}
.carousel-caption h3, p {
    font-size: 45px;
    line-height: 55px;
}
.carousel-inner {
    height: 500px;
}
.slidebgImg {
    position: absolute;
    top: 0%;
    left: 30%;
}
.smallSlide {
    font-size: 20px;
}
.aboutContents {
    margin-top: 7.5%;
}
.aboutContents h2 {
    text-align: center;
}
.aboutContents p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 2%;
    text-align: center;
}
.aboutContents h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    top: 110vh;
}
.aboutContents h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: rgba(255, 0, 0, 0.8);
    bottom: 0;
    top: 110vh;
    left: calc(50% - 20px);
}
.productHeaderMain {
    text-align: center;
    margin-top: 6.5%;
}
div.productHeaderMain h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    bottom: -45vh;
    background: #ddd;
    left: calc(50% - 60px);
}
div.productHeaderMain h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: rgba(255, 0, 0, 0.8);
    bottom: -45vh;
    left: calc(50% - 20px);
}
.productsContainer {
    margin-top: 7%;
    margin-left: 25%;
}
.productContainerTwo {
    display: flex;
}
.productsContents {
    display: grid;
    grid-template: "header header2"
                    "header header3";
    column-gap: 10%;
}
.huluLogo {
    width: 47%;
    margin-left: 5%;
    margin-bottom: 20%;
    padding: 5%;
}
img.huluLogo:hover {
    border: 2px solid red;
    box-shadow: 0px 0px 30px 0px red;
    cursor: pointer;
}
.nordLogo {
    width: 55%;
    padding: 5%;
}
img.nordLogo:hover {
    border: 2px solid red;
    box-shadow: 0px 0px 30px 0px red;
    cursor: pointer;
}
.rainbowLogo {
    width: 100%;
}
.alpha {
    grid-area: header2;
    overflow: hidden;
}
.bravo {
    grid-area: header3;
    overflow: hidden;
}
.productOne {
    grid-area: header;
    height: 600px;
    overflow: hidden;
    width: 100%;
}
.productTwo {
    width: 45%;
    overflow: hidden;
    margin-left: 15%;
    margin-top: -5%;
}
.productTwo:hover {
    border: 2px solid red;
    box-shadow: 0px 0px 40px 0px red;
    cursor: pointer;
}
.productOne img:hover {
    border: 2px solid red;
    box-shadow: 0px 0px 40px 0px red;
    cursor: pointer;
}
.fortniteImg {
    width: 100%;
}

.imgCaption {
    position: relative;
    bottom: 75%;
    left: 14%;
    color: white;
    transition: .25s ease-in-out;
}
.imgCaption h3 {
    font-size: 20px;
}
.discordWidget {
    float: right;
    margin-right: 5%;
    margin-top: 8%;
}
.noticeContainer {
    width: 40%;
    border: 2px solid red;
    padding: 3%;
    padding-top: 1%;
    border-radius: 100px 100px 100px 100px;
    position: absolute;
    top: 250%;
    left: 5%;
}
.noticeContents h2 {
    text-align: center;
    margin-bottom: 12%;
}
.noticeContents p {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}
.redTxt {
    color: red;
}
.footerMain {
    position: absolute;
    top: 305%;
    background-color: black;
    width: 150%;
    padding: 5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    left: -25%;
    height: 450px;
}
.footerLogo {
    margin-left: 20%;
    margin-top: 2%;
}
.footLinks {
    color: rgb(192, 0, 0);
    margin-left: 38%;
    margin-top: -8%;
    text-shadow: 0px 0px 10px rgb(192, 0, 0);
}
.footLinks h3 {
    margin-left: 18%;
    margin-top: -20%;
    margin-bottom: 7%;
    background-color: rgba(255, 0, 0, 0.219);
    border-radius: 100px;
    width: 16.5%;
    padding: 1%;
    transition: .25s ease-in-out;
}
.footLinks h3:hover {
    transform: skewY(3deg) scale(1.05);
}
.footLinks ul {
    display: inline-flex;
    letter-spacing: 1px;
}
.footLinks ul a {
    margin: 5%;
    text-decoration: none;
}
.footLinks a:hover {
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}

@media screen and (max-width: 1679px) {
    .discordWidget { margin-top: 17%; }
    .aboutContents h2::before { top: 106vh; }
    .aboutContents h2::after { top: 106vh; }
    div.productHeaderMain h2::before { bottom: -40vh; }
    div.productHeaderMain h2::after { bottom: -40vh; }
    .footLinks h3 { width: 19%; }
}
@media screen and (max-width: 1440px) {
    .discordWidget { margin-top: 13.5%; }
    .aboutContents h2::before { top: 106vh; }
    .aboutContents h2::after { top: 106vh; }
    .aboutContents { margin-top: 10%; }
    div.productHeaderMain h2::before { bottom: -36vh; }
    div.productHeaderMain h2::after { bottom: -36vh; }
    .footLinks h3 { width: 22%; }
    .footerMain { top: 290%; }
    .noticeContainer { top: 235%; }
}
@media screen and (max-width: 1380px) {
    .discordWidget { margin-top: 3%; margin-right: 24%; }
    .aboutContents h2::before { top: 110.5vh; }
    .aboutContents h2::after { top: 110.5vh; }
    .aboutContents { margin-top: 14%; }
    div.productHeaderMain h2::before { bottom: -40vh; }
    div.productHeaderMain h2::after { bottom: -40vh; }
    .footLinks h3 { width: 23%; }
    .footerMain { top: 310%; height: 350px; }
    .noticeContainer { top: 265%; left: 27%; width: 50%; }
    div.carousel-caption{ position: absolute; top: 50%; left: 20%; }
    .slidebgImg { left: 26%; }
    .navbarContainer ul.navList { right: -18%; }
    .navbarContents h1 { margin-left: 5%; }
}
@media screen and (max-width: 1200px) {
    .discordWidget { margin-top: 10%; margin-right: 20.2%; }
    .aboutContents h2::before { top: 106vh; }
    .aboutContents h2::after { top: 106vh; }
    .aboutContents { margin-top: 14%; }
    div.productHeaderMain h2::before { bottom: -36vh; }
    div.productHeaderMain h2::after { bottom: -36vh; }
    .footLinks h3 { width: 25.5%; }
    .footerMain { top: 310%; height: 350px; }
    .noticeContainer { top: 265%; left: 27%; width: 50%; }
    div.carousel-caption{ position: absolute; top: 50%; left: 20%; }
    .slidebgImg { left: 26%; }
    .navbarContainer ul.navList { right: -18%; }
    .navbarContents h1 { margin-left: 5%; }
}
@media screen and (max-width: 1080px) {
    .discordWidget { margin-top: 10%; margin-right: 18%; }
    .aboutContents h2::before { top: 104vh; }
    .aboutContents h2::after { top: 104vh; }
    .aboutContents { margin-top: 14%; }
    div.productHeaderMain h2::before { bottom: -32vh; }
    div.productHeaderMain h2::after { bottom: -32vh; }
    .footLinks h3 { width: 28%; }
    .footLinks ul { position: absolute; left: 30%; }
    .footerContents img { margin-top: 5%; }
    .footerMain { top: 310%; height: 350px; }
    .noticeContainer { top: 265%; left: 27%; width: 50%; }
    div.carousel-caption{ position: absolute; top: 50%; left: 20%; }
    .slidebgImg { left: 26%; }
    .navbarContainer ul.navList { right: -18%; }
    .navbarContents h1 { margin-left: 5%; }
}
@media screen and (max-width: 1024px) {
    .discordWidget { margin-top: 10%; margin-right: 18%; }
    .aboutContents h2::before { top: 102.5vh; }
    .aboutContents h2::after { top: 102.5vh; }
    .aboutContents { margin-top: 14%; }
    div.productHeaderMain h2::before { bottom: -29vh; }
    div.productHeaderMain h2::after { bottom: -29vh; }
    .footLinks h3 { width: 29.5%; }
    .footLinks ul { position: absolute; left: 30%; }
    .footerContents img { margin-top: 5%; }
    .footerMain { top: 310%; height: 350px; }
    .noticeContainer { top: 260%; left: 27%; width: 50%; }
    div.carousel-caption{ position: absolute; top: 50%; left: 20%; }
    .slidebgImg { left: 26%; }
    .navbarContainer ul.navList { right: -18%; }
    .navbarContents h1 { margin-left: 5%; }
}
@media screen and (max-width: 500px) {
    .discordWidget { margin-top: 72%; margin-right: 10%; width: 70%; }
    .aboutContents h2::before { top: 109vh; }
    .aboutContents h2::after { top: 109vh; }
    .aboutContents { margin-top: 14%; }
    div.productHeaderMain h2::before { bottom: -66vh; }
    div.productHeaderMain h2::after { bottom: -66vh; }
    .footLinks h3 { width: 60%; margin-left: 0; }
    .footLinks ul { position: absolute; left: 40%; display: block; }
    .footerContents img { margin-top: 5%; }
    .footerMain { top: 370%; height: 450px; }
    .noticeContainer { top: 315%; left: 20%; width: 70%; padding: 5%; }
    div.carousel-caption{ position: absolute; top: 50%; left: 20%; }
    .slidebgImg { left: 0%; top: 5%; }
    .navbarContainer ul.navList { right: -15%; top: 3%; width: 100%; }
    .navbarContents h1 { margin-left: 30%; }
    .productHeaderMain { margin-top: 25%; }
    .productsContents { display: block; margin-right: 25%; margin-top: 20%; column-gap: 0; }
    .alpha { width: 100%; position: absolute; bottom: -135%; }
    .bravo { width: 100%; position: absolute; bottom: -157%; }
    .productTwo { width: 70%; position: absolute; bottom: -165%; left: 5%; }
    .aboutContents { margin-top: 35%; }
    .aboutContents h2 { margin-bottom: 10%; }
}
@media screen and (max-width: 375px) {
    .discordWidget { margin-top: 72%; margin-right: 15%; width: 70%; }
    .aboutContents h2::before { top: 103vh; }
    .aboutContents h2::after { top: 103vh; }
    .aboutContents { margin-top: 14%; }
    div.productHeaderMain h2::before { bottom: -59vh; }
    div.productHeaderMain h2::after { bottom: -59vh; }
    .footLinks h3 { width: 80%; margin-left: -10%; margin-top: 2%; }
    .footLinks ul { position: absolute; left: 40%; display: block; }
    .footerContents img { margin-top: 5%; }
    .footerMain { top: 370%; height: 450px; }
    .noticeContainer { top: 300%; left: 15%; width: 70%; padding: 5%; }
    div.carousel-caption{ position: absolute; top: 50%; left: 20%; }
    .slidebgImg { left: 0%; top: 5%; }
    .navbarContainer ul.navList { right: -3%; top: 3%; width: 100%; }
    .navbarContents h1 { margin-left: 20%; }
    .productHeaderMain { margin-top: 25%; }
    .productsContents { display: block; margin-right: 25%; margin-top: 20%; column-gap: 0; }
    .alpha { width: 100%; position: absolute; bottom: -115%; }
    .bravo { width: 100%; position: absolute; bottom: -135%; }
    .productTwo { width: 70%; position: absolute; bottom: -145%; left: 5%; }
    .aboutContents { margin-top: 35%; }
    .aboutContents h2 { margin-bottom: 10%; }
}
@media screen and (max-width: 300px) {
    .discordWidget { margin-top: 72%; margin-right: 15%; width: 70%; }
    .aboutContents h2::before { top: 103vh; }
    .aboutContents h2::after { top: 103vh; }
    .aboutContents { margin-top: 14%; }
    div.productHeaderMain h2::before { bottom: -59vh; }
    div.productHeaderMain h2::after { bottom: -59vh; }
    .footLinks h3 { width: 80%; margin-left: -10%; margin-top: 2%; }
    .footLinks ul { position: absolute; left: 40%; display: block; }
    .footerContents img { margin-top: 5%; }
    .footerMain { top: 370%; height: 450px; }
    .noticeContainer { top: 300%; left: 15%; width: 70%; padding: 5%; }
    div.carousel-caption{ position: absolute; top: 50%; left: 20%; }
    .slidebgImg { left: 0%; top: 5%; }
    .navbarContainer ul.navList { right: -3%; top: 3%; width: 100%; }
    .navbarContents h1 { margin-left: 20%; }
    .productHeaderMain { margin-top: 25%; }
    .productsContents { display: block; margin-right: 25%; margin-top: 20%; column-gap: 0; }
    .alpha { width: 100%; position: absolute; bottom: -115%; }
    .bravo { width: 100%; position: absolute; bottom: -135%; }
    .productTwo { width: 70%; position: absolute; bottom: -145%; left: 5%; }
    .aboutContents { margin-top: 35%; }
    .aboutContents h2 { margin-bottom: 10%; }
}



@keyframes fadeInDown {
    0% {
        opacity: 0;
        transition: 2s ease-in-out;
    }
    100% {
        opacity: 1;
        transition: 2s ease-in-out;
    }
}

@keyframes fadeUp {

}